{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindFunctions": ["clsx", "cn", "cva", "twMerge"],
  "importOrder": ["^@/(.*)$", "^[a-zA-Z0-9@./-]+$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}